<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                   {{counter}} Enquirie(s) Found
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {{#each all}}
                            <div class="card-text">
                                <strong>Name:</strong> {{this.name}}<br>
                                <strong>Email:</strong> {{this.email}}<br>
                                <strong>Phone Number:</strong> {{this.phoneNo}}<br>
                                <strong>Comment:</strong> {{this.comment}}<br>
                                <strong>Status:</strong> {{this.status}}<br>
                            </div>
                            <div class="adds d-flex justify-content-center mt-3 mb-3 fw-bold gap-5">
                                <a class="delete-enquiry" href="/api/enquiry/delete/{{this._id}}">
                                    <i class="fa-solid fa-trash"></i>
                                    Delete
                                </a>
                                <a class="update-enquiry" href="/api/enquiry/update/{{this._id}}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Update
                                </a>
                            </div>
                            <hr>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
