<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        {{#if admin}}
            {{>admin_sidebar}}
        {{/if}}
        <a href="/"><button type="button" class="home mt-2 d-block" style="width: 100px;">Home</button></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown1" aria-controls="navbarNavDarkDropdown1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown1">
            <ul class="navbar-nav">
                <li class="nav-item dropdown mt-3" style="width: 150px;">
                    <a class="nav-link dropdown-toggle home mx1-5 d-block" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All category
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a class="dropdown-item men-all" href="/api/product/">All</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mt-3" style="width: 100px;">
                    <a class="nav-link dropdown-toggle home mx-auto d-block" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Men
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink2">
                        <li><a class="dropdown-item men-all" href="/api/product/?category=65d8c77e3b4f0440c58043ef">All</a></li>
                        <li><a class="dropdown-item" href="/api/product/?category=65d8c77e3b4f0440c58043ef&productType=65d7a658b0a0a78e1f4d09dd">Clothings</a></li>
                        <li><a class="dropdown-item" href="/api/product/?category=65d8c77e3b4f0440c58043ef&productType=65d7a67db0a0a78e1f4d09e1">Footwears</a></li>
                        <li><a class="dropdown-item" href="/api/product/?category=65d8c77e3b4f0440c58043ef&productType=65d7a6d2b0a0a78e1f4d09e5">Accessories</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mt-3 " style="width: 150px;">
                    <a class="nav-link dropdown-toggle home mx-auto d-block" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Women
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink3">
                        <li><a class="dropdown-item women-all" href="/api/product/?category=65d8c75e3b4f0440c58043eb">All</a></li>
                        <li><a class="dropdown-item women-cloth" href="/api/product/?category=65d8c75e3b4f0440c58043eb&productType=65d7a658b0a0a78e1f4d09dd">Clothings</a></li>
                        <li><a class="dropdown-item women-footwear" href="/api/product/?category=65d8c75e3b4f0440c58043eb&productType=65d7a67db0a0a78e1f4d09e1">Footwears</a></li>
                        <li><a class="dropdown-item women-accessories" href="/api/product/?category=65d8c75e3b4f0440c58043eb&productType=65d7a6d2b0a0a78e1f4d09e5">Accessories</a></li>
                    </ul>
                </li>
                <!-- Account section -->
                {{#if isAuthenticated}}
                    <li class="nav-item dropdown mt-3 " style="width: 200px;">
                        <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/user/myuser" role="button">
                            {{#if isAuthenticated.local.firstname}}
                                {{isAuthenticated.local.firstname}} Account
                            {{else if isAuthenticated.google.firstname}}
                                {{isAuthenticated.google.firstname}} Account
                            {{else}}
                                {{isAuthenticated.local.firstname}} Account
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item dropdown mt-3 " style="width: 150px;">
                        <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/user/logout" role="button">
                            Logout
                        </a>
                    </li>
                {{else}}
                    <li class="nav-item dropdown mt-3 " style="width: 150px;">
                        <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/user/" role="button">
                            SignUp
                        </a>
                    </li>
                    <li class="nav-item dropdown mt-3 " style="width: 150px;">
                        <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/user/login" role="button">
                            SignIn
                        </a>
                    </li>
                {{/if}}
                <!-- Wishlist link -->
                <li class="nav-item dropdown mt-3 " style="width: 150px;">
                    <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/user/getwishlist" role="button">
                        <i class="fa-regular fa-heart"></i> Wishlist
                    </a>
                </li>
                <!-- Cart link -->
                <li class="nav-item dropdown mt-3 " style="width: 150px;">
                    <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/cart/getcart" role="button">
                        <i class="fa fa-shopping-cart"></i>
    
                        Cart
                    </a>
                </li>
                <!-- Orders link -->
                <li class="nav-item dropdown mt-3">
                    <a class="nav-link dropdown-toggle home mx-auto d-block" href="/api/order/getmyorder" role="button">
                        Orders
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
