<nav class="header_section_top d-flex justify-content-between flex-column flex-sm-row">
  {{#if admin}}
  {{>admin_sidebar}}
  {{/if}}
  <a href="/"><button type="button" class="home mx-auto d-block">Home</button></a>
  <div class="btn-group">
    <button class="btn cat-btn1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      All category
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item men-all" href="/api/product/">All</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn cat-btn1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Men
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item men-all" href="/api/product/?category=65d8c77e3b4f0440c58043ef">All</a></li>
      <li><a class="dropdown-item" href="/api/product/?category=65d8c77e3b4f0440c58043ef&productType=65d7a658b0a0a78e1f4d09dd">Clothings</a></li>
      <li><a class="dropdown-item" href="/api/product/?category=65d8c77e3b4f0440c58043ef&productType=65d7a67db0a0a78e1f4d09e1">Footwears</a></li>
      <li><a class="dropdown-item" href="/api/product/?category=65d8c77e3b4f0440c58043ef&productType=65d7a6d2b0a0a78e1f4d09e5">Accessories</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn cat-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Women
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item women-all" href="/api/product/?category=65d8c75e3b4f0440c58043eb">All</a>
      <a class="dropdown-item women-cloth" href="/api/product/?category=65d8c75e3b4f0440c58043eb&productType=65d7a658b0a0a78e1f4d09dd">Clothings</a>
      <a class="dropdown-item women-footwear" href="/api/product/?category=65d8c75e3b4f0440c58043eb&productType=65d7a67db0a0a78e1f4d09e1">Footwears</a>
      <a class="dropdown-item women-accessories" href="/api/product/?category=65d8c75e3b4f0440c58043eb&productType=65d7a6d2b0a0a78e1f4d09e5">Accessories</a>
    </div>
  </div>

    <div class="btn-group d-flex flex-column flex-sm-row">
   <ul class="user-bar">
  {{#if isAuthenticated}}
    {{#if isAuthenticated.local.firstname}}
      <li class="user-list"><a href="/api/user/myuser">{{isAuthenticated.local.firstname}} Account</a></li>
    {{else if isAuthenticated.google.firstname}}
      <li class="user-list"><a href="/api/user/myuser">{{isAuthenticated.google.firstname}} Account</a></li>
    {{else}}
      <li class="user-list"><a href="/api/user/myuser">{{isAuthenticated.local.firstname}} Account</a></li>
    {{/if}}
    <li class="user-list"><a href="/api/user/logout">Logout</a></li>
  {{else}}
    <li class="user-list"><a href="/api/user/">SignUp</a></li>
    <li class="user-list"><a href="/api/user/login">SignIn</a></li>
  {{/if}}
  <li class="user-list"><a href="/api/user/getwishlist"><i class="fa-regular fa-heart" aria-hidden="true"></i>Wish List</a></li>
  <li class="user-list">
    <a href="/api/cart/getcart">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span class="badge bg-danger fw-bold text-red">{{cartQty}}</span>
     Cart</a>
  </li>
  <li class="user-list"><a href="/api/order/getmyorder">Orders</a></li>
</ul>
  </div>
</nav>
