<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 mb-4">
            <!-- Image column -->
            <a href="#" class="card-link dis">
                <div class="card">
                    <img src="{{product.images.[0].url}}" class="card-img-top" alt="{{product.name}}">
                    <div class="adds d-flex justify-content-center mt-3 mb-3 fw-bold gap-3">
                        <a class="add-to-cart" href="/api/cart/{{product._id}}" >
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                             Add to Cart
                        </a>

                        <a class="add-to-wishlist" href="/api/user/wishlist/{{product._id}}">
                            <i class="fa-regular fa-heart" aria-hidden="true"></i>
                            Add to Wishlist
                        </a>
                        {{#if admin}}
                        <a class="add-to-wishlist" href="/api/product/delete/{{product._id}}">
                            <i class="fa-solid fa-trash"></i>
                            Delete
                        </a>
                        <a class="add-to-wishlist" href="/api/product/getupdate/{{product._id}}">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Update
                        </a>
                        <a class="add-to-wishlist" href="/api/product/getdiscount/{{product._id}}">
                            <i class="fa-solid fa-tag"></i>
                            Apply discount
                        </a>
                        <a class="add-to-wishlist" href="/api/product/removediscount/{{product._id}}">
                            <i class="fa-solid fa-tag"></i>
                            remove discount
                        </a>
                        {{/if}}
            </div>
                </div>
            </a>
        </div>
        <div class="col-md-5 mb-4">
            <!-- Content column -->
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><strong>Name :</strong>{{product.name}}</p>
                        <p class="card-text"><strong>Price: N</strong>{{product.price}}</p>
                        <p class="card-text"><strong>Description: </strong>{{product.description}}</p>
                        {{#if product.discountedPrice}}
                        <p class="card-text"><strong>Discounted Price: N</strong>{{product.discountedPrice}}</p>
                        {{/if}}
                        {{#if product.ratings}}
                            {{#each product.ratings}}
                                <p class="card-text"><strong>Star: </strong>{{this.star}}</p>
                                <p class="card-text"><strong>Comment: </strong>{{this.comment}}</p>
                                <p class="card-text"><strong>Customer: </strong>{{this.postedby.local.firstname}} {{this.postedby.local.lastname}}</p>
                            {{/each}}
                            {{#if product.totalrating}}
                                <p class="card-text"><strong>TotalRating: </strong>: {{product.totalrating}}</p>
                                 {{/if}}
                        {{/if}}
                        <!-- Form for leaving a rating -->
                        <form action="/api/product/rating/{{product._id}}" method="POST">
                            <div class="form-group">
                                <label for="star"><strong>Star:</strong></label>
                                <input type="number" class="form-control" id="star" name="star" min="1" max="10" required>
                            </div>
                            <div class="form-group">
                                <label for="comment"><strong>Comment:</strong></label>
                                <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Rating</button>
                        </form>
                        <!-- End of rating form -->
                    </div>
                </div>
        </div>
    </div>
</div>
